<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.Subtitle }}{{ else }}{{ .Summary | plainify }}{{ end }}"/>
<meta name="keywords" content="{{ with .Params.Keywords }}{{ delimit . ", " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}"/>
<meta name="robots" content="noodp"/>
<link rel="canonical" href="{{ .Permalink }}" />

<!-- head custom -->
{{- partial "prepended_head.html" . }}

<!-- Theme CSS -->
<link rel="stylesheet" href="{{ "assets/style.css" | absURL }}">

<!-- Custom CSS to override theme properties (/static/style.css) -->
<link rel="stylesheet" href="{{ "style.css" | absURL }}">

<!-- Icons -->
<link rel="apple-touch-icon" sizes="180x180" href='{{ "apple-touch-icon.png" | absURL }}'>
<link rel="icon" type="image/png" sizes="32x32" href='{{ "favicon-32x32.png" | absURL }}'>
<link rel="icon" type="image/png" sizes="16x16" href='{{ "favicon-16x16.png" | absURL }}'>
<link rel="manifest" href='{{ "site.webmanifest" | absURL }}'>
<link rel="mask-icon" href='{{ "safari-pinned-tab.svg" | absURL }}' color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content='{{ "mstile-144x144.png" | absURL }}'>
<meta name="theme-color" content="#ffffff">



<!-- Twitter Card -->
{{ template "_internal/twitter_cards.html" . }}

<!-- OG data -->
{{ template "_internal/opengraph.html" . }}

<!-- RSS | JSON -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- head custom -->
{{- partial "extended_head.html" . }}
