<a href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}" class="logo" style="text-decoration: none;">
  {{ if $.Site.Params.Logo.both }}
    <img src="{{ $.Site.Params.Logo.path | absURL }}" alt="{{ $.Site.Params.Logo.alt }}" />
        <span class="logo__mark">  {{ partial "greater-icon.html" . }}</span>
        <span class="logo__text">{{ with $.Site.Params.Logo.logoText }}{{ . }}{{ else }}hello friend he{{ end }}</span>
        <span class="logo__cursor"></span>
    {{ else }}
        {{ if $.Site.Params.Logo.path }}
            <img src="{{ $.Site.Params.Logo.path | absURL }}" alt="{{ $.Site.Params.Logo.alt }}" />
        {{ else }}
            <span class="logo__mark">  {{ partial "greater-icon.html" . }}</span>
            <span class="logo__text">{{ with $.Site.Params.Logo.logoText }}{{ . }}{{ else }}hello friend he{{ end }}</span>
            <span class="logo__cursor"></span>
        {{ end }}
  {{ end }}
</a>
